@import '../../styles/app';

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 60px;
  width: 60px;
  background: $warning;
  font-weight: 600;
  font-size: 18px;
}

.promoAlert {
  transition: 0.6s;
  transition-timing-function: ease;
  transform: translateX(-130vw);
}

.showAlert {
  transform: translateX(0);
}

.controBtn {
  padding: 1px 3px;
  font-size: 11px;
}

.closeButton {
    outline: #4d8cb9;
    color: #4d8cb9;
    background: #fff;
}

.usersTableWrapper {
  overflow: hidden;
  @include media-breakpoint-down(lg) {
    overflow: auto;
  }

  .form-group-sm.form-group {
    width:100%;
  }
}

.usersListTableMobile {
  //min-width: 1100px;
}

.react-bootstrap-table-pagination-list-hidden {
    display: none;
}

.assignSiteList {
    width: 100%;
    background: #fff;
    color:#495057;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #c1ccd3;
    border-radius: 0.3rem;
    margin-bottom: 10px;
}

.tableAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 60px;
  width: 60px;
  background: #FDA700;
  font-weight: 600;
  font-size: 18px;
  img {
    height: 60px
  }
}
