@import '../../../styles/app';

.table {
  td,
  th {
    font-weight: normal;
    align-items: center;
    min-width: 100px;
  }

  th {
    font-size: $font-size-sm;
  }

  tbody tr:nth-child(odd) {
    background-color: $gray-light;
  }
}

.search{

  @media (min-width: 1200px){
    width: 32.25%;
  }

  @media (max-width: 1200px) {
    width: 100%;
  }
  margin: 0 0 15px 0;
  border-radius: 4px;
  height: 40px;
  padding: 8px;
}

