
.inputTextTitle {
  font-size: 20px;
}

.inputTextDescription {
  font-size: 12px;
}

.inputTextModule {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.25);
}

.navLinks {
  display: flex;
  flex-flow: column nowrap;
  margin: auto 10px;
  justify-content: space-between;

  &__link {
    display: flex;
    align-items: center;
    margin: 25px 25px 0 25px;

    & >:first-child {
      
      width: 100px;
    }
  }
}
